@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes a {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes ts-fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1.25rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Fade In Down */

@keyframes ts-fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -1.25rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Fade In Left */

@keyframes ts-fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-1.25rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Fade In Right */

@keyframes ts-fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(1.25rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Zoom In */

@keyframes ts-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Zoom In Short */

@keyframes ts-zoomInShort {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/****** Animate Shapes ******/

/* Bounce */

@keyframes ts-bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* Scale */

@keyframes ts-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
